---
import Layout from "../layouts/Preset.astro";
---

<Layout>
  <p>navegador</p>
	<ul>
		<li>home</li>
		<li>documentación</li>
		<li>about</li>
		<li>tema</li>
	</ul>
  <h1>Index</h1>
  <p></p>
	<p>descripción</p>
  <p>buscador centralizado, ordenado por fecha version</p>
	<ul>
		<li>por nombre</li>
		<li>por descripción</li>
		<li>por categoría</li>
		<li>por etiqueta</li>
	</ul>
	<p>colección por paginas</p>
  <p>footer</p>
</Layout>
